<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title= title
    body
        a(href="https://pugjs.org") Перейти на PUG
        each user, index in users
            h2(onclick=`alert(${index})`)= user.name